@model IEnumerable<MirumTeste.ApplicationCore.Entity.CargoPessoa>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Funcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioBase)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcao)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SalarioBase)
            </td>
            <td>
                
                </td>
            
            <td>
                <a asp-action="Index">Back to List</a>
            </td>
        </tr>
}
    </tbody>
</table>
